body {
    margin:0;
    background: rgb(30,30,30);
    color: rgb(200,200,200);
}


a {
    color: rgb(100,200,100);
}

a:hover {
    color: rgb(100,250,100);
}

a:visited {
    color: rgb(100,150,100);
}

main img {
    border: 8px solid rgb(250,255,250);
    padding: 8px;
}

/*###Header###*/

#masthead {
    width:100%;
    min-height: 50px;
    /* background-image: url("/images/style/dark_wood.png"); */
    line-height: 50px;
    padding: 0px;
}

header#masthead {}

#masthead_content {
    text-align: left;
    padding-left: 20px;
}

#masthead_content * {
    margin: 0px;
    color: rgb(200,200,200);
}


/*###Navigation Bar###*/
nav {
    background-color: rgb(40,40,40);
    border-radius: 30px;
    border: 2px rgb(20,20,20) solid;
}

#nav_container {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 40px;
}

#nav_container li {
    font-family: 'Century Schoolbook L';
    font-style: italic;
    font-size: 18px;
}

#nav_container > li {
    margin-right: 30px;
}



#nav_container a {
    color: rgb(200,200,200);
    padding: 5px;
    text-decoration: none;
    border: 2px rgb(0,120,0) solid;
    border-radius: 10px;
    background-color: rgb(20,100,70);
}

#nav_container a:hover {
    color: rgb(255,255,255); 
}

#nav_container ul {
    padding: 0px;

    margin-left: 10px;
    min-width: 100px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

  /*for the mobile nav menu opener/closer*/
/*nav label {
    font-size: 60px;
    margin-left: 4px;
}*/


/*###Main Content###*/

#wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
  margin-left: 5%;
  margin-right: 5%;
}

/*###Sidebar###*/
aside {
    padding: 4px;
}

aside h2 {
    text-align: center;
    margin: 8px;

    color: #bcbcbc;
}

aside > section {
    border: 2px rgb(20,20,20) solid;
    border-radius: 20px;

    min-height: 100px;
    min-width: 60px; 

    margin-bottom: 10px;

    background-color: rgb(40,40,40);
}

aside > section a {
    margin-left: 40px;
    color: rgb(200,200,200);
    padding: 5px;
    text-decoration: none;
    text-decoration: none;

    padding-left: 10px;
}

aside > section a:hover {
    color: rgb(255,255,255); 
}

/*###Footer###*/
footer {
    background-color: rgb(40,40,40);

    width: 100%;
    min-height: 100px;
    
    padding-top: 20px;
}

footer > * {    
    text-align: center;
    color: #bcbcbc;
}

/*##Mobile specific styling##*/
@media screen and (max-width: 44em) {
    /*set the sub menus so they are inline when oppend instead of overlapping*/
    nav.nav_top #nav_container > li ul {
        position: relative;
    }

    #mobile_nav_icon:after {
        font-size: 50px;
        left: 10;
    }

    /*since our hamburger menu icon is black normally, we change it to white so 
        it doesn't meld with the menu background*/
    #mobile_nav_control:checked + #mobile_nav_icon:after {
        color: #bcbcbc;
    }

    /*setup the sub menu icons to be side arrows*/
    .mobile_nav_list_icon:after {
        content: "\25b6";
        font-size: 20px;
        padding: 6px;
        float:left;
        color: #bcbcbc;
    }

    /*set wrapper to be column*/
    #wrapper {
        flex-direction: column;
    }

    /*Center the aside a bit more*/
    aside {
        margin-left: 5%;
        margin-right: 5%;
    }
}


